/*Menu Link*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f35501;
}
body {
  font-family: "Roboto condensed", sans-serif;
}
h2 {
  font-size: 3rem !important;
}
p {
  font-size: 1.3rem !important;
}
nav {
  z-index: 2;
  position: fixed !important;
  width: 100%;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
.navbar-brand {
  max-width: 17.25rem;
  height: 4rem;
  align-items: center;
  margin-top: 1.5rem;
}
/*  Header  */
.header-wrapper {
  position: relative;
  background: url(assets/images/wp.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
}
.main-info {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
}
/* ----Typed Text----*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}
/*----Header main offer button----*/
.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  margin: 2rem;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  font-weight: 500;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  transition: 0.2s ease-in-out;
}
/*----about me---*/
.about-me {
  background-color: #f3f4ed;
}
.ethan img {
  border-radius: 50% !important;
}
/*----particles----*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100wh;
  z-index: 1;
}
/*---my portfolio----*/
.card {
  width: 20rem !important;
  height: 50% !important;
  overflow-y: auto;
}
.kartu {
  cursor: pointer;
}
.card-img-top {
  height: 10rem !important;
  object-fit: cover !important;
}
/*----contact---*/
#contact {
  margin-top: -20%;
}
/*----footer-----*/
.bottom-container {
  background-color: #343a40;
  padding: 50px 0 20px;
}

.bottom-container1 {
  background-color: #343a40;
  padding: 50px 0 20px;
}

.footer-link {
  color: var(--primary-orange);
  font-family: "Montserrat", sans-serif;
  margin: 0.625rem 5rem;
  text-decoration: none;
  font-size: 1.3rem;
}
a.footer-link:hover {
  text-decoration: none;
  color: var(--primary-hover-red);
}
.copyright {
  font-size: 1.4rem !important;
  color: var(--primary-orange);
}
@media (max-width: 768px) {
  nav {
    width: 100% !important;
  }
  .particle-canvas {
    display: none;
  }
  .main-info h1 {
    font-size: 2rem !important;
  }
  .typed-text {
    font-size: 1.6rem;
  }
  .footer-link {
    margin: 5% 1%;
    font-size: 1.2rem;
  }
  .ethan img {
    width: 60% !important;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  .card {
    width: 30rem !important;
    overflow: visible;
    height: 100% !important;
  }
  .kartu {
    margin-bottom: 5%;
    cursor: pointer;
  }
  #contact {
    margin-top: 5%;
  }
}
